blinker==1.9.0
charset-normalizer==3.4.6
click==8.3.1
Flask==3.1.3
fpdf==1.7.2
itsdangerous==2.2.0
Jinja2==3.1.6
Levenshtein==0.27.3
MarkupSafe==3.0.3
numpy==2.4.3
opencv-python==4.13.0.92
packaging==26.0
pillow==12.1.1
pytesseract==0.3.13
python-Levenshtein==0.27.3
qrcode==8.2
RapidFuzz==3.14.3
reportlab==4.4.10
thefuzz==0.22.1
Werkzeug==3.1.6
